#root{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  height:100vh;
}

.app{
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
  url("https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2l0eXxlbnwwfHwwfHw%3D&w=1000&q=80");
  background-position: center;
  background-size:cover; 
}